<!-- Start Header -->
<div data-role="header" data-position="fixed" data-tap-toggle="false">
	<a href="#" data-role="button" data-icon="false" data-inline="true" data-transition="slidefade" data-direction="reverse" class="menubutton ui-btn ui-btn-inline ui-link ui-shadow ui-corner-all">Menue</a>
	
	<h1>Kompetenzübersicht</h1>
</div>
<!-- End Header -->

<!-- Start Main - Navigation -->
<div data-role="content" data-theme="c" id="competences">
	<div id="loadingSpinner"></div>
    <div id="competenceList"></div>
</div> <!-- ende content -->