<div>
	<h2><%= competence.attributes.name %></h2>
	<form>
		<input type="text" value="" id="comment" placeholder="Kommentar" data-clear-btn="true">
		<input type="submit" value="Kompetenz erworben" class="submit-competence" >
	</form>

	<div class="subcompetences"></div>
</div>