<meta name="title" content="Logout" />
<meta name="back" content="1" />

<!-- Start Main - Navigation -->
<div data-role="content" data-theme="c">
	<br />
	<img src="img/up/hinweis.png" class="alignleft" />
	<p class="blau" style="margin-left:55px; margin-bottom: 40px;">
		Du bist erfolgreich eingeloggt. Hier kannst du dich ausloggen...<br /><br />
		Hinterlegt sind Ihr Benutzername (<%= store.get('up.session.username') %>) und Passwort für die Anmeldung in PULS und Moodle.
	</p>
	<form id="logoutform">
		<input id='logout' data-theme='a' type="submit" value="Ausloggen" />
	</form>
</div>
<!-- End Main - Navigation -->