<!-- Start Header -->
<div data-role="header" data-position="fixed" data-tap-toggle="false">
  <a href="#home" data-role="button" data-icon="false"
    data-iconpos="left" data-inline="true" data-transition="slidefade"
    data-direction="reverse" class="back">Back</a>
  <!--        <a href="#homePanel" data-icon="home" class="ui-btn-left">Menu</a>
      <a href="index.html" data-icon="back" class="ui-btn-right">Zurück</a> -->
  <h1>Neuigkeiten</h1>
</div>
<!-- End Header -->
<!-- Start Main - Navigation -->
<div data-role="content" id="news-content"></div>
<!-- End Main - Navigation -->