<li class='blau'  id='<%= tipp.name %>'><h3>
  	<a href="#tipp/<%= tipp.name %>" data-role="button" data-iconpos="right" data-icon="arrow-darkblue" data-transition="slidefade" data-direction="reverse">
    	<%= tipp.name %>
  	</a></h3>
</li>